<div class="user-information-container">
    <div class="empty"></div>
    <div class="user-conetnt">User: {{currentUser.name}}
        <button class="btn btn-default" (click)="logOut()">log out</button>
    </div>
</div>
<div class="content-wrapper">
    <div class="menu-container">
        <div *ngIf="isUser()">
            <p>
                <a [routerLink]="['/userForm/',currentUser.id,'userPermissions']">My permissions</a>
            </p>
            <p>
                <a [routerLink]="['/userForm/',currentUser.id,'userRequestes']">My requestes</a>
            </p>
        </div>
        <div *ngIf="isApprover()">
            <p>
                <a [routerLink]="['/userForm/',currentUser.id,'requests']">Users Requests</a>
            </p>

        </div>
    </div>
    <div class="manage-container" *ngIf="currentUser.isLogin!=undefined">
        <!-- 3.a) dodać komponent, który  wyświetli powitanie dla aktualnie zalogowanego użytkownika-->
        <router-outlet></router-outlet>
    </div>
</div>