<app-add-permission (addedPermission)="addedPermissionListener($event)"></app-add-permission>
<table class="table">
    <tbody>
        <tr *ngFor="let permission of userPermissions">
            <td>{{permission.serverName}}</td>
            <td>{{permission.serverAddress}}</td>
            <td>{{permission.permission}}</td>
            <td>{{permission.additionalInfo}}</td>
            <td>{{permission.status}}</td>
            <td><button type="button" class="close" (click)="remove(permission.id)">&times;</button></td>
        </tr>
    </tbody>
</table>