.content-wrapper{
    display: flex;
    .menu-container{
        width: 15%;
        background: #2983bf;
        color:white;
        flex: 1;
        padding:20px;
        a{
            color:white;
        }
    }
    .manage-container{
        width: 85%;
        background: rgba(240, 240, 240, 1);
        padding:20px;
    }
}
.user-information-container{
    display: flex;
    .user-conetnt{
    text-align: right;
    color:#333;
    padding:20px;
    width: 85%;
    }
    .empty{
        width: 15%;
        background: #2983bf;
        color:white;
        flex: 1;
        padding:20px;
    }
}